p,li{
    line-height:130%;
}
.header{
    min-height: 100vh;
    width: 100%;
    background: rgb(175,181,255);

    
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)),url(../images/EgV5ddLWsAAAHK4.jfif);
    background-position: center;
    background-size: cover;
    position: relative;
}

.main-nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.main-nav>a>img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
  


}

.nav-links ul li{
    display: inline-block;
    position: relative;
    margin: 8px 12px;

}

.nav-links ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(255, 255, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}




.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 20px 0 40px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.hero-btn{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    display: inline-block;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 13px;
    position: relative;
    padding: 12px 34px;
    cursor: pointer;
    transition: 0.5s;

}

.hero-btn:hover{
    border: 2px solid rgb(255, 255, 255);
   
    background-color: black ;

}

nav .fa{
    display: none;
}

.courses{
    display: flex;
    width: 80%;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    justify-content: space-between;
    gap: 60px;
  
}


.courses h1{
    font-size: 52px;
}

.courses p{
    margin: 20px 0 40px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    line-height:25px;
}

.about-section{
    height: 100vh;
}

.about-box{
    font-size: 52px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;

    padding: 10px;
    text-align: center;
    background-color: #00adef;
}



.about-box strong{
    font-size: 52px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-top: 80px;
    text-align: center;
}

.vision, .mission{
    flex-basis: 48%;
    background-color: antiquewhite;
    padding: 40px 30px;
    box-sizing: border-box;
    transition: 0.5s;
    

}

.vision:hover, .mission:hover{
    flex-basis: 48%;
    background-color: antiquewhite;
    padding: 40px 30px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);

}


.vision ul li{
    margin-top: 30px;
}

.campus{
    height: 100vh;
    padding: 0px 50px;
    background-color:navajowhite;
    
}

.campus h1{
    font-size: 52px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-top: 80px;
    text-align: center;

}

.campus p{
    
    margin: 20px 0 40px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    line-height:25px;

}
.slider{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.055);
   
}

.slider-container{
    width: 100%;
}

.image-carousel{
    width: 200px;
    height: 300px;
    overflow: hidden;
    margin: 50px;
    border: 2px solid black;
    border-radius: 10px;

}

.images{
    display: flex;
}


.images img{
    width: 200px;
    height: 300px;
    object-fit: cover;
  
}

.right-arrow, .left-arrow{
    padding: 30px;
    height: 300px;
    width: min-content;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.199);
    display: flex;
    transition: 0.25s;
}

.right-arrow:hover, .left-arrow:hover{
    background-color: white
}

.center-arrow{
  
    margin: auto 0;
   
}

.texts{
    flex-basis: 30%;
}



@media(max-width: 700px){

    
.campus{
    height: auto;
   
}

    .about-section{
        height: auto;
    }
    .text-box h1{
        font-size: 32px;
    }
    .text-box p{
        margin: 20px 20px 40px;
    }

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top:0;
        right: -200px;
        text-align: left;
        z-index: 3;
        transition: 1s;
    }   

    nav .fa{
        display: block;
        color: rgb(255, 255, 255);
        margin: 10px;
        cursor: pointer;

        z-index: 3;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.151);
        
    }

    #times-icon{
        display: block;
        width: fit-content;
        margin-left: auto;

    }

 
    .nav-links ul li{
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.151);

    }

    .courses{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        text-align: center;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        margin-top: 100px;
        justify-content: space-between;
        gap: 60px;
      
    }

    
.campus{
    height: 100vh;
    padding: 0px 50px;
    background-color:navajowhite;
    
}


.campus p{
    display: none;
}

.slider{
    width: 100%;
    background-color: #00adef;
    flex-wrap: wrap;
    align-items:baseline;
    
}
.slider-container{

    margin-top: 100px;
    
    align-items: center;
    justify-content: center;
}

.right-arrow, .left-arrow{
    padding: none;
    width: 200px;
    height: min-content;
  
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    transition: 0.25s;
}


.center-arrow{
  
    margin: 0 auto;
   
}





}